#body1{
    width: 100%;
    height:2000px;
    background: #fff;
}
.body1box{
    width: 1200px;
    height: 2000px;
    margin: 0 auto;
}
/* img wid280 heig 425 */
.shopbox{
    width: 224px;
    height: 403px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ddd;

}
.imgbox{
    width: 224px;
    height:340px;
    
}
.imgbox img{
    width: 224px;
    height: 340px;
    display: block;
}
.shuzi{
    font-style: normal;
    color: #f36;
    float: left;
}
.fuhao{
    color: #f36;
    font-size: 16px;
    float: left;
}
.bg-font{
    width: 38px;
    height: 20px;
    background: #f36;
    display: inline-block;
    float: left;

}
.font-style{
    display: inline-block;
    width: 182px;
    height: 16px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.font-style:hover{
    color: #f36;
}
.filt{
    width: 224px;
    height: 28px;
    display: block;
    float: left;
    margin-top: 10px;
}
.shoucang{
    float: right;
    color: #ddd;
}